<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/admin/chat.js"></script>

<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/img_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<link href="/js/image-popup/magnific-popup.css" rel="stylesheet" />
<script type="text/javascript" src="/js/image-popup/jquery.magnific-popup.js"></script>


<style>
    .pie_progress_wrap{
        display: block;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,0.45);
        z-index: 9;
    }
    .pie_progress {
      width: 160px;
      margin: 10px auto;
	  position: fixed;
	  top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .pie_progress__number{color:#fff;}
	.pie_progress__label{color:#fff;}
    @media all and (max-width: 768px) {
      .pie_progress {
        width: 80%;
        max-width: 300px;
      }
    }
	.chat_send_left .down_btn {
	border: none;
	cursor: pointer;
	font-size: 14px;
	border-radius:20px;
    background-color: #f6f6f6;
	}
    .chat_send_right .down_btn {
	border: none;
	cursor: pointer;
	font-size: 14px;
	border-radius:20px;
    background-color: #2e3192;
    color: white;
	}

	/* Darker background on mouse-over */
    .dateBox{
	display: block;
	max-width: 80px;
	padding:6px 4px;
	text-align: center;
	margin: 0 auto;
	background-color: #999;
	font-size: 0.9em;
	color: #fff;
	border-radius: 40px;
	clear: both;
	margin-bottom: 20px;
	}
    
    
</style>
<script type="text/javascript">
    var mainKey = "";
    var mainStatus = "";
    var asListData;
    var chatBotList;
    var adminTF = "1";
    var userId = "<%=session.id%>";
    var userName = "<%=session.name%>";
    var imgName = "";
	var imgPath = "";

    var selectUserImg = "";
    var selectUserPath = "";
    var level = "<%=session.level%>";
    $(window).ready(function() {
        $.loading.start('Loading...');
        $(".chat_count_icon").css("display", "none");
        $('.pie_progress').asPieProgress({
			namespace: 'pie_progress'
		});
        $("#imgPlusBtn").on("click", function(){
            if(mainStatus == "0050003"){Alert("완료된 AS입니다.");return;}
			// $(".chat_pop_wrap").css("display", "block");
			$("input[name='addFile']").click();
		});
		$("input[name='addFile']").on("change", function(e){
            addFiles(e, this);
        });
        

        $("input[name='msgInput']").on("keyup",function(key){
			if(key.keyCode==13) {
				$("#msgBtn").click();
			}
		});
        socket.on("recvChat", function(data){
            
            if(mainKey != ""){
                $("#chat_sub_box").append(chatRecev(data));
                var viewData = {};
                viewData = {
                    key: mainKey,
                    userId: userId
                }
                if(mainStatus != "0050001" ){
                    updateView(viewData);
                }
            }
            scrollBottom($('#chat_sub_box'));
        });
        socket.on("refresh", function(data){
            init();
        });
        init();
        init_two();
        $.ajax({
            url:"/mysql/common",
            data :{
                xml: "codeList",
                cod: "005"
            }, success:function(res){
                var item = "";
                item += "<option value=''>전체</option>"
                for(var i=0; i<res.length; i++){
                    item += "<option value='"+res[i].CODE_CODE+"'>"+res[i].CODE_CONTENT+"</option>";
                }
                $("select[name='as_status_select']").append(item);
                $("select[name='as_status_select']").val("");
            }
        });

        
        $(".bottom_btn_listbox a").on("click", function(){
            var code = $(this).attr("data-code");
            var title = $(this).attr("data-title");
            if($(this).parent("li").hasClass("state_border")){
                Confirm("["+title+"] 처리 하시겠습니까?", function(){
                    chatStatusChange(code);
                });
            }
            
        });
        
        
        $(document).on("click", "#chat_list_ul li", function(){
            $.loading.start('Loading...');
            mainKey = $(this).attr("data-key");
            mainStatus = $(this).attr("data-status");
            $.each($(".bottom_btn_ul a"), function(){
                if(mainStatus == "0050001"){
                    $(this).parent("li").addClass("state_border");
                }else{
                    if(mainStatus == $(this).attr("data-code")){
                        $(this).parent("li").removeClass("state_border");
                    }else{
                        $(this).parent("li").addClass("state_border");
                    }
                }
            });
            if(mainStatus == "0050003"){
                $(".bottom_btn_listbox ").css("display","none");
            }else{
                $(".bottom_btn_listbox ").css("display","block");
            }
            // $.each($("#chat_list_ul li"), function(i, v){
            //     $(this).removeClass("selectLi");
            // });
            $(".none_chat_cont_box").attr("style","display:none !important");
            $("#chat_list_ul li").removeClass("selectLi");
            $(this).addClass("selectLi");
            $.ajax({
                url:"/mysql/chat",
                data:{
                    xml: "chat_select_admin",
                    mainKey: mainKey
                }, success: function(res){
                    socket.emit("joinRoom", mainKey, userId, "1");
                    $("#chat_sub_box").empty();
                    $("#chat_sub_box").append(subList(res));
                    $("#user_info_div").css("display", "block");
                    $(".image-popup-no-margins").magnificPopup({
                        type: 'image',
                        closeOnContentClick: true,
                        closeBtnInside: true,
                        fixedContentPos: true,
                        mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                        image: {
                            verticalFit: true
                        },
                        zoom: {
                            enabled: true,
                            duration: 300 // don't foget to change the duration also in CSS
                        }
                    });

                    var addr = res[0].USER_APART+" "+ res[0].USER_ADDR1+" "+res[0].USER_ADDR2+"호";
                    $("#info_name").text(res[0].USER_NAME);
                    $("#info_addr").text(addr);

                    var img = res[0].USER_IMGNAME;
                    if(img != null && img != ""){
                        var path = res[0].USER_IMGPATH;
                        var imgname = res[0].USER_IMGNAME;
                        selectUserImg = res[0].USER_IMGNAME;
                        selectUserPath= res[0].USER_IMGPATH;
                        $("#main_user_profile").css("background-image", "url("+path+imgname+")");
                        // img = "<img style='margin:0;width:100%; height:100%; border-radius:20px !important;' src='"+path+imgname+"' class='rounded float-left' alt=''></img>";
                    }else{
                        img = "";
                        selectUserImg = "";
                        selectUserPath = "";
                        $("#main_user_profile").css("background-image", "url(/static/img/web/def_user_icon.png)");
                    }
                    
                    
                    
                    scrollBottom($('#chat_sub_box'));
                    $.loading.end();
                }
            });
        });
        //메세지 전송
        $("input[name='msgInput']").on("click", function(){
            if(mainStatus == "0050001"){
                var check = false;
                Confirm("현재 대기상태 입니다.\n접수상태로 변경 하시겠습니까?", function(r){
                    chatStatusChange("0050002");
                }, function(){
                });
                return;
            }
        });
		$("#msgBtn").on("click", function(){
			if(mainKey == ""){Alert("문의하실 타입을 먼저 선택해 주세요.");return;}
            if(mainStatus == "0050003"){Alert("완료된 AS입니다.");return;}
            
			var msg = $("input[name='msgInput']").val();
			$.ajax({
				url : "/mysql/insertChat",
				data: {
					xml:"chat_sub_insert",
					mainKey: mainKey,
					msg: msg,
					imgName: '',
					imgPath: '',
					view: '0',
					userId: userId,
					admin: "1"
				}, success: function(re){
					if(re){
                        var date = re[0].DATE;
                        sendMsg(msg, date);
                        $("input[name='msgInput'").val("");
					}else{
						Alert("메세지 전송 실패");
					}
				}
			});
			
		});
        $("select[name='as_status_select']").on("change", function(){
            var status = $(this).val();
            $.ajax({
                url:"/mysql/chat",
                data :{
                    xml: "chat_list_admin",
                    status: status,
                    mainPage: 0,
                    mainPageSize: mainPageSize,
                    userId: userId,
                    level : "<%=session.level%>"
                }, success:function(res){
                    $("#chat_list_ul").empty();
                    $("#chat_list_ul").append(mainList(res));
                }
            });
        });

        //메인리스트 스크롤처리
        
        $("#chat_list_ul").scroll(function(){
            var scrollTop = $(this).scrollTop();
            var innerHeight = $(this).innerHeight();
            var scrollHeight = $(this).prop('scrollHeight');

            if (scrollTop + innerHeight >= scrollHeight) {
                clearTimeout( mainTimer );
                mainTimer = setTimeout( mainScroll(), 150 );
            }
        });
    });
    function popImg(){
        alert();
        $('.popup-link').magnificPopup({
        type: 'image'
        // other options
        });
    }
    var mainTotal=0;
    var mainPage = 0;
    var mainPageSize = 20;
    var mainTimer;
    function init(){
        //채팅 호출
        $.ajax({
            url:"/mysql/chat",
            data :{
                xml: "chat_list_admin",
                status: $("select[name='as_status_select']").val(),
                mainPage: mainPage,
                mainPageSize: mainPageSize,
                userId: userId,
                level : "<%=session.level%>"
            }, success:function(res){
                if(res.length > 0){
                    mainTotal = Number(res[0].TOTAL);
                    if(mainTotal == 0){
                        $(".wait_list_ulbox").css("display", "none");
                        
                    }else{
                        $("#chat_list_ul").css("display", "block");
                        $(".wait_list_ulbox").css("display", "none");
                    }
                    $("#chat_list_ul").empty();
                    $("#chat_list_ul").append(mainList(res));
                    $.loading.end();
                }else{
                    $.loading.end();
                }
                
            }
        });
    }
    function init_two(){
        $.ajax({
            url:"/mysql/chat",
            data :{
                xml: "chat_status_ing"
            }, success:function(res){
                chatIng(res);
            }
        });
        $.ajax({
			url:"/mysql/common",
			data:{
				xml : "codeList",
				cod: "006"
			},
			success: function(res){
                chatBotList = res;
			}
		});
    }
    function sendMsg(msg, date){
        var msgData = {};
        msgData = {
            msg: msg,
            mainKey: mainKey,
            admin: adminTF,
            imgName : imgName,
            imgPath : imgPath,
            rm: "rm_"+mainKey,
			date: date,
			userId: userId,
			userName: userName
        }
        imgName = "";
		imgPath = "";
        socket.emit("msg", msgData);
        scrollBottom($('#chat_sub_box'));
    }
</script>
<style>

    .chat_count_icon{display: none !important;}
</style>
</head>
<body>
    <!-- 프로그래스 -->
    <div style="display: none;" class="pie_progress_wrap">
        <div  class="pie_progress" role="progressbar" data-goal="0" data-barcolor="#7ccfff" data-barsize="10">
            <div class="pie_progress__number">0%</div>
            <div class="pie_progress__label">UPLoading..</div>
        </div>
    </div>
	<!-- 프로그래스ND-->
        
    <ul class="cont_ulbox dis_flex_row">
        <li class="cont_li cont_li01">
            <div class="top_notice_grp cont_shadow_box">
                <div class="top_notice_txtbox">
                    <h2 class="progress_tit cont_tit">AS 진행상황</h2>
                    <p class="progress_all_num">총 10건</p>
                </div>
                <div class="progress_grp">
                    <div id="ing_0050001" class="progress_grp_widthbox progress_grp_widthbox01 dis_flex_row">
                        <h2 class="progress_grp_tit progress_grp_tit01 dis_inblock">미처리 <em class="progress_color01 progress_num">0건</em></h2>
                        <div class="progress_grp_bar progress_grp_bar01 dis_inblock">
                            <div class="progress_grp_gage progress_grp_gage01 progress_bar">
                                <p class="percent_txt">0%</p>
                            </div>
                        </div>
                    </div>
                    <div id="ing_0050004" class="progress_grp_widthbox progress_grp_widthbox01 margin_top_20 dis_flex_row">
                        <h2 class="progress_grp_tit progress_grp_tit02 dis_inblock">보류 <em class="progress_color02 progress_num">0건</em></h2>
                        <div class="progress_grp_bar progress_grp_bar02 dis_inblock">
                            <div class="progress_grp_gage progress_grp_gage02 progress_bar">
                                <p class="percent_txt">0%</p>
                            </div>
                        </div>
                    </div>
                    <div id="ing_0050002" class="progress_grp_widthbox progress_grp_widthbox02 margin_top_20 dis_flex_row">
                        <h2 class="progress_grp_tit progress_grp_tit03 dis_inblock">접수 <em class="progress_color03 progress_num">0건</em></h2>
                        <div class="progress_grp_bar progress_grp_bar03 dis_inblock">
                            <div class="progress_grp_gage progress_grp_gage03 progress_bar">
                                <p class="percent_txt">0%</p>
                            </div>
                        </div>
                    </div>
                    <div id="ing_0050003" class="progress_grp_widthbox progress_grp_widthbox02 margin_top_20 dis_flex_row">
                        <h2 class="progress_grp_tit progress_grp_tit02 dis_inblock">처리완료 <em class="progress_color04 progress_num">0건</em></h2>
                        <div class="progress_grp_bar progress_grp_bar04 dis_inblock">
                            <div class="progress_grp_gage progress_grp_gage04 progress_bar">
                                <p class="percent_txt">0%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont_listbox cont_shadow_box margin_top_20 cont_shadow_box_658px padding0">
                <div class="cont_list_tbox dis_flex_btn_center_top">
                    <h2 class="cont_tit">
                        AS신청 문의
                    </h2>
                    <select name="as_status_select" class="default_sel" style="max-width: 120px;">
                    </select>
                </div>
                <div class="wait_list_ulbox">
                    <span class="none_chatting_icon">
                        <img src="/static/img/web/no_chatting.png"/>
                    </span>
                    <p class="wait_list_txt">AS내역이 존재하지 않습니다.</p>
                </div>
                <ul class="list_ulbox"  id="chat_list_ul" style="display:none;">
                    <li class="list_li">
                        <div class="list_li_div dis_flex_row">
                            <div class="user_contbox user_contbox01">
                                <!-- 사용자 프로필 -->
                                <span class="profile_img"></span>
                                <!-- //사용자 프로필 -->
                            </div>
                            <div class="user_contbox user_contbox02">
                                <h2 class="user_contbox_tit">김단비</h2>
                                <p class="user_contbox_txt">안녕하세요. 상수도 고장건으로 연락드립니다..</p>
                            </div>
                            <div class="user_contbox user_contbox03">
                                <p class="user_contbox_time">22.01.22 16:42</p>
                                <em class="user_contbox_talk">1</em>
                            </div>
                        </div>
                    </li>
                    <li class="list_li">
                        <div class="list_li_div dis_flex_row">
                            <div class="user_contbox user_contbox01">
                                <!-- 사용자 프로필 -->
                                <span class="profile_img"></span>
                                <!-- //사용자 프로필 -->
                            </div>
                            <div class="user_contbox user_contbox02">
                                <h2 class="user_contbox_tit">김단비</h2>
                                <p class="user_contbox_txt">안녕하세요. 상수도 고장건으로 연락드립니다..</p>
                            </div>
                            <div class="user_contbox user_contbox03">
                                <p class="user_contbox_time">22.01.22 16:42</p>
                                <em class="user_contbox_talk">1</em>
                            </div>
                        </div>
                    </li>
                    <li class="list_li active">
                        <div class="list_li_div dis_flex_row">
                            <div class="user_contbox user_contbox01">
                                <!-- 사용자 프로필 -->
                                <span class="profile_img"></span>
                                <!-- //사용자 프로필 -->
                            </div>
                            <div class="user_contbox user_contbox02">
                                <h2 class="user_contbox_tit">김단비</h2>
                                <p class="user_contbox_txt">안녕하세요. 상수도 고장건으로 연락드립니다..</p>
                            </div>
                            <div class="user_contbox user_contbox03">
                                <p class="user_contbox_time">22.01.22 16:42</p>
                                <em class="user_contbox_talk">1</em>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="cont_li cont_li02">
            <div class="none_chat_cont_box chat_cont_box cont_shadow_box padding0 cont_shadow_box_943px">
                <span class="none_chat_icon">
                    <img src="/static/img/web/none_chat_icon.png"/>
                </span>
                <p class="none_chat_txt">좌측 AS내역을 선택해주세요.</p>
            </div>
            <div id="user_info_div" class="chat_cont_box cont_shadow_box padding0 cont_shadow_box_943px" style="display:none;">
                <div class="chat_cont_top_tbox">
                    <div class="profile_box_right dis_inblock">
                        <span id="main_user_profile" class="profile_img"></span>
                    </div>
                    <div class="profile_text_right dis_inblock">
                        <h2 id="info_name" class="cont_right_tit">김단비</h2>
                        <p id="info_addr" class="cont_right_txt">ABC아파트 101동 1301호</p>
                    </div>
                    <div class="bottom_btn_listbox ">
                        <ul class="bottom_btn_ul dis_flex_row">
                            <li class="bottom_btn_li state_border">
                                <a data-code="0050002" data-title="접수" class="bottom_btn bottom_btn01">
                                    <em class="bottom_btn_icon bottom_btn_icon01 dis_inblock"></em>
                                    <em class="bottom_btn_txt dis_inblock">접수</em> 
                                </a>
                            </li>
                            <li class="bottom_btn_li">
                                <a data-code="0050004" data-title="보류" class="bottom_btn bottom_btn03">
                                    <em class="bottom_btn_icon bottom_btn_icon02 dis_inblock"></em>
                                    <em class="bottom_btn_txt dis_inblock">보류</em> 
                                </a>
                            </li>
                            <li class="bottom_btn_li">
                                <a  data-code="0050003"  data-title="완료"class="bottom_btn bottom_btn02">
                                    <em class="bottom_btn_icon bottom_btn_icon01 dis_inblock"></em>
                                    <em class="bottom_btn_txt dis_inblock">완료</em> 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chat_body_box" id="chat_sub_box">
                    <!-- 담당자 -->
                    <div class="chat_send_box chat_send_right">
                        <div class="chat_send_cont chat_send_text">
                            <div class="chat_send_cont chat_send_text">
                                <div class="chat_send_div">
                                    <p class="chat_send_txt">키리스 아파트 101동 101호 입주 고객님 안녕하세요!<br>신청하실 AS 카테고리를 선택하여 주세요.</p>
                                    <ul class="chat_send_listbox">
                                        <li class="chat_send_list">누수 문제</li>
                                        <li class="chat_send_list">누전 문제</li>
                                        <li class="chat_send_list">냉온수 불량</li>
                                        <li class="chat_send_list">차단기 불량</li>
                                        <li class="chat_send_list">그외 기타 문제</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chat_send_cont chat_send_time">
                                <p class="chat_send_time_txt">16:20</p>
                            </div>

                        </div>
                        <div class="chat_send_cont chat_send_time">
                            <p class="chat_send_time_txt">16:20</p>
                        </div>
                    </div>
                        <!-- //담당자 -->
                        
                    <!-- 입주자 -->
                    <div class="chat_send_box chat_send_left margin_top_20">
                        <div class="chat_send_cont chat_send_profile"></div>
                        <div class="chat_send_cont chat_send_text">
                            <div class="chat_send_div">
                                <p class="chat_send_txt">키리스 아파트 101동 101호 입주 고객님 안녕하세요!<br>신청하실 AS 카테고리를 선택하여 주세요.</p>
                            </div>    
                        </div>
                        
                        <div class="chat_send_cont chat_send_time">
                            <p class="chat_send_time_txt">16:20</p>
                        </div>
                    </div>
                    <!--//입주자-->
                </div>
                <!-- 입력창 -->
                <div class="bottom_textbox">
                    <div class="bottom_textgrp dis_flex_row">
                        <div class="bottom_pic_cont bottom_text_cont">
                            <ul class="bottom_pic_ul dis_flex_row">
                                <li class="bottom_pic_li">
                                    <a id="imgPlusBtn" class="bottom_pic_btn bottom_image"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom_text_cont bottom_text_inpbox">
                            <input type="text" name="msgInput" class="bottom_text_inp" placeholder="입력해주세요.">
                        </div>
                        <div id="msgBtn" class="bottom_text_cont bottom_text_btn">전송</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <input style="display: none;" type="file" name="addFile" accept="*" multiple> 
     <form id="frm" style="display:none;" method="POST" enctype="multipart/form-data" action="/upload/create">
</body>
</html>