<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

</head>
<style>
</style>
<script type="text/javascript">
    var bsCode = "<%=bsCode%>";
    var level = "<%=session.level%>"
    var mainDcode = "";
    var logPage = 0;
    var pageSize = 10;
    var pageTotal = 0;
    var selectPage = 1;
    var sdate="";
    var edate="";
    function init(){
        $.loading.start(''); 
        $.ajax({
            url:"/mysql/room",
            data:{
                xml:"sync_log_list",
                bsCode: pad(bsCode, 7),
                dcod: mainDcode,
                sdate:sdate,
                edate:edate,
                page:logPage,
                pageSize:pageSize
            },success:function(res){
                console.log(res);
                if(res.length > 0){
                    pageTotal = res[0].counts;
                    var item ="";
                    
                    for(var i=0; i<res.length; i++){
                        var type = "";
                        var change = "";
                        change = res[i].SYNC_LOG_ORIGIN + " -> " + res[i].SYNC_LOG_CHANGE;
                        if(res[i].SYNC_LOG_TYPE == "api"){
                            type = "API";
                        }else{
                            type = "엑셀";
                        }

                        item += "<tr data-key='"+res[i].SYNC_LOG_KEY+"'>"
                            + "<td class='table_list_td text_left'>"
                            + type
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + change
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_NAME
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].SYNC_LOG_DATE
                            + "</td>"
                            + "</tr>";
                    }
                }else{
                    pageTotal = 0;
                    selectPage = 1;
                    logPage = 0;
                }
                paging(pageTotal, pageSize, selectPage);
                $("#log_table tbody").empty();
                $("#log_table tbody").append(item);
                $.loading.end(); 
            }
        });
    }
    $(window).ready(function() {
        init();
        var myCal = bulmaCalendar.attach('.date_default_inp', {
            isRange: true,
            type: 'date',
            showFooter: false,
            dateFormat: 'yyyy-MM-dd'
        });
        $("#search_btn").on("click", function(){
            if($("input[name='dateSelect']").val() != ""){
                var dateInput = $("input[name='dateSelect']").val();
                dateInput = dateInput.split(" ~ ");
                sdate = dateInput[0];
                edate = dateInput[1];
                init();
            }
            
        });
        $(document).on("click", "#foot_page a", function(){
            var page = $(this).attr("data-page");
            var currentpage = page - 1;
            currentpage = currentpage == 0 ? currentpage : currentpage*pageSize;
            selectPage = page;
            logPage = currentpage;

            init();
        });
        $("#pop_close_btn").on("click", function(){
            $("#log_pop").css("display", "none");
        });
        $("#pop_confirm_btn").on("click", function(){
            $("#log_pop").css("display", "none");
        });
        // $(document).on("click", "#log_table tbody tr", function(){
        //     var key = $(this).attr("data-key");
        //     $.ajax({
        //         url:"/mysql/room",
        //         data:{
        //             xml:"room_sync_log_select",
        //             key:key,
        //             bsCode:bsCode
        //         }, success:function(res){
        //             $("#pop_title").text(res[0].SYNC_LOG_MSG);
        //             $("#pop_cont").text(res[0].SYNC_LOG_RONO.slice(0, -1));
        //             $("#tot_origin").text(comma(res[0].SYNC_LOG_ORIGIN));
        //             $("#tot_change").text(comma(res[0].SYNC_LOG_CHANGE));
        //         }
        //     });
        //     $("#log_pop").css("display", "flex");
        // });
        $("#upload_btn").on("click", function(){
            $("#id_file_upload").click();
        });
        $("#sync_btn").on("click", function(){
            $.ajax({
                url:"./room_sync_check",
                data:{
                    bsCode:pad(bsCode, 7)
                }, success:function(res){
                    if(res != null){
                        var insert = res.insert;
                        var update = res.update;
                        var origin = res.origin;
                        var originLength = res.origin.length;
                        var logRono="";
                        var logMsg="";

                        var msg = "";
                        var totalLength = insert.length+update.length;
                        if(origin.length > totalLength){
                            for(var i=0; i<origin.length; i++){
                                for(var j=0; j<insert.length; j++){
                                    if(origin[i].RONO == insert[j].rono){
                                        origin = origin.splice(i, 1);
                                    }
                                }
                                for(var j=0; j<update.length; j++){
                                    if(origin[i].RONO == update[j].rono){
                                        console.log(origin[i].RONO);
                                        origin.splice(i, 1);
                                    }
                                }
                                
                            }
                            if(origin.length > 0){
                                for(var i=0; i<origin.length; i++){
                                    msg += "[삭제]\n";
                                    for(var i=0; i<origin.length; i++){
                                        msg += origin[i].RONO+",";
                                        logRono += origin[i].RONO+",";
                                    }
                                }
                                msg = msg.slice(0, -1);
                                msg += "\n";
                                msg += "=============================\n";
                                if(origin.length > 10){
                                    msg = msg.substring(0,40) + "..등 "+comma(origin.length)+"개\n";
                                }
                            }
                        }
                        
                        
                        if(insert.length > 0){
                            msg += "[추가]\n";
                            for(var i=0; i<insert.length; i++){
                                msg += insert[i].rono+",";
                                logRono += insert[i].rono+",";
                            }
                            msg = msg.slice(0, -1);
                            if(insert.length > 10){
                                msg = msg.substring(0,40) + "..등 "+comma(insert.length)+"개\n";
                            }else{
                                msg += "\n";
                            }
                            msg += "=============================\n";
                        }
                        var updateDiffCount = 0;
                        if(update.length > 0){
                            msg += "[변경내역]\n";
                            var updateCount = 0;
                            for(var i=0; i<update.length; i++){
                                logRono += update[i].rono+",";
                                if(update[i].diffe != ""){
                                    if(update[i].diffe == "rtype"){
                                        msg += update[i].rono +"/타입";
                                    }else if(update[i].diffe == "floor"){
                                        msg += update[i].rono +"/층";
                                    }else if(update[i].diffe == "clean"){
                                        msg += update[i].rono +"/청소상태";
                                    }
                                    msg += ",";
                                    updateCount++;
                                }else{
                                    updateDiffCount++;
                                }
                            }
                            msg = msg.slice(0, -1);
                            msg+="\n";
                            if(updateDiffCount != update.length){
                                msg += "=============================\n";
                            }
                            
                        }
                        if(updateDiffCount == update.length){
                            msg = replaceAll(msg, "[변경내역]\n", "");
                        }
                        logMsg = msg;
                        

                        
                        Confirm(msg+"동기화 하시겠습니까?\n기존 객실자료는 지워집니다.", function(){
                            var data = {};
                            var saveData = true;
                            var dataArray = [];
                            var ajaxCount = 1;
                            $.ajax({
                                url : "./room_remove",
                                data:{
                                    rono:logRono,
                                    msg: logMsg,
                                    bsCode:"<%=bsCode%>",
                                    userId: "<%=session.id%>",
                                    change: totalLength,
                                    origin: originLength,
                                    type:"api"
                                }, success:function(re){
                                    $.loading.start('Loading...');
                                    if(re.res == "101"){
                                        for(var i=0; i<insert.length; i++){
                                            dataArray.push({
                                                rono : insert[i].rono,
                                                floor : insert[i].floor,
                                                rname : insert[i].rname,
                                                rtype : insert[i].rtype,
                                                status : insert[i].status,
                                                clean : insert[i].clean
                                            });
                                        }
                                        
                                        
                                        for(var i=0; i<update.length; i++){
                                            dataArray.push({
                                                rono : update[i].rono,
                                                floor : update[i].floor,
                                                rname : update[i].rname,
                                                rtype : update[i].rtype,
                                                status : update[i].status,
                                                clean: update[i].clean
                                            });
                                        }
                                        for(var i=0; i<dataArray.length; i++){
                                            var rtype = dataArray[i].rtype;
                                            var rname = dataArray[i].rname;
                                            var floor = dataArray[i].floor;
                                            var rono = dataArray[i].rono;
                                            var status = dataArray[i].status;
                                            var clean = dataArray[i].clean;

                                            $.ajax({
                                                url:"/mysql/room",
                                                data:{
                                                    xml: "room_insert",
                                                    rtype:rtype,
                                                    floor:floor,
                                                    rname:rname,
                                                    rono:rono,
                                                    bsCode:"<%=bsCode%>",
                                                    userId: "<%=session.id%>",
                                                    status: status,
                                                    clean: clean
                                                }, success: function(res){
                                                    ajaxCount++;
                                                    if(res.length == 0){
                                                        saveData = false;
                                                        msg = rono+"추가중 오류가 발생했습니다.";
                                                    }else{
                                                        if(ajaxCount == dataArray.length){
                                                            $.loading.end();
                                                            if(!saveData){
                                                                Alert(msg, function(){
                                                                    location.reload();
                                                                });
                                                            }else{
                                                                Alert("저장 되었습니다.", function(){
                                                                    location.reload();
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                    }else{
                                        Alert("객실 저장에 실패했습니다.");
                                    }
                                    
                                }
                            });
                            
                        });
                    }
                    
                }
            })
        });
    });
    function upload(event){
        var ajaxCount = 1;
         var input = event.target;
        var reader = new FileReader();
        $.ajax({
            url: "./room_sync_check_excel",
            data: {
                bsCode:bsCode
            }, success:function(res2){
                console.log(res2);
                var originList = res2;
                var origin = originList;

                reader.onload = function(){
                var fdata = reader.result;
                var read_buffer = XLSX.read(fdata, {type : 'binary'});
                read_buffer.SheetNames.forEach(function(sheetName){
                    var rowdata =XLSX.utils.sheet_to_json(read_buffer.Sheets[sheetName]);
                    var saveData = true;
                    
                    var updateArray = new Array();
                    var insertArray = new Array();
                    var newList = [];
                    if(typeof rowdata[0].객실번호 == "undefined"){
                        Alert("엑셀 파일을 확인해 주세요.");
                        return;
                    }
                    for(var i=0; i<rowdata.length; i++){
                        newList.push({
                            rono : rowdata[i].객실번호,
                            floor : rowdata[i].층,
                            rname : rowdata[i].타입한글,
                            rtype : rowdata[i].타입,
                            status : rowdata[i].상태,
                            clean : rowdata[i].청소
                        });
                    }
                    for(var i=0; i<newList.length; i++){
                        var rono;
                        for(var j=0; j<originList.length; j++){
                        if(newList[i].rono == originList[j].RONO){
                            rono = newList[i].rono;
                            
                            if(newList[i].floor != originList[j].FLOOR){
                            newList[i].diffe = "floor";
                            }else if(newList[i].rtype != originList[j].RTYPE){
                            newList[i].diffe = "rtype";
                            }else if(newList[i].clean != originList[j].CLEAN){
                            newList[i].diffe = "clean";
                            }else{
                            newList[i].diffe = "";
                            }
                            updateArray.push(newList[i]);
                        }
                        }
                        if(rono != newList[i].rono){
                        newList[i].diffe = "new";
                        insertArray.push(newList[i]);
                        }
                    }

                    var insert = insertArray;
                    var update = updateArray;

                    var logRono="";
                    var logMsg="";
                    var msg = "";

                    var totalLength = insert.length+update.length;
                    if(origin.length > totalLength){
                        for(var i=0; i<origin.length; i++){
                            for(var j=0; j<insert.length; j++){
                                if(origin[i].RONO == insert[j].rono){
                                    origin = origin.splice(i, 1);
                                }
                            }
                            for(var j=0; j<update.length; j++){
                                if(origin[i].RONO == update[j].rono){
                                    origin.splice(i, 1);
                                }
                            }
                            
                        }
                        if(origin.length > 0){
                            for(var i=0; i<origin.length; i++){
                                msg += "[삭제]\n";
                                for(var i=0; i<origin.length; i++){
                                    msg += origin[i].RONO+",";
                                    logRono += origin[i].RONO+",";
                                }
                            }
                            msg = msg.slice(0, -1);
                            
                            if(origin.length > 10){
                                msg = msg.substring(0,40) + "..등 "+comma(origin.length)+"개\n";
                            }
                            msg += "\n";
                            msg += "=============================\n";
                        }
                    }
                    
                    
                    if(insert.length > 0){
                        msg += "[추가]\n";
                        for(var i=0; i<insert.length; i++){
                            msg += insert[i].rono+",";
                            logRono += insert[i].rono+",";
                        }
                        msg = msg.slice(0, -1);
                        if(insert.length > 10){
                            msg = msg.substring(0,40) + "..등 "+comma(insert.length)+"개\n";
                        }else{
                            msg += "\n";
                        }
                        msg += "=============================\n";
                    }
                    var updateDiffCount = 0;
                    if(update.length > 0){
                        msg += "[변경내역]\n";
                        var updateCount = 0;
                        for(var i=0; i<update.length; i++){
                            logRono += update[i].rono+",";
                            if(update[i].diffe != ""){
                                if(update[i].diffe == "rtype"){
                                    msg += update[i].rono +"/타입";
                                }else if(update[i].diffe == "floor"){
                                    msg += update[i].rono +"/층";
                                }else if(update[i].diffe == "clean"){
                                    msg += update[i].rono +"/청소상태";
                                }
                                msg += ",";
                                updateCount++;
                            }else{
                                updateDiffCount++;
                            }
                        }
                        msg = msg.slice(0, -1);
                        msg += "\n";
                        if(updateDiffCount != update.length){
                            msg += "=============================\n";
                        }
                    }
                    if(updateDiffCount == update.length){
                        msg = replaceAll(msg, "[변경내역]\n", "");
                    }
                    
                    logMsg = msg;
                    Confirm(msg+"업로드 하시겠습니까?\n기존 객실자료는 지워집니다.", function(){
                        // room_reset();
                        
                        $.loading.start('Loading...');
                        setTimeout(function() {
                           var dataArray = [];
                            $.ajax({
                                url : "./room_remove",
                                data:{
                                    rono:logRono,
                                    msg: logMsg,
                                    bsCode:"<%=bsCode%>",
                                    userId: "<%=session.id%>",
                                    change: totalLength,
                                    origin: originList.length,
                                    type:"excel"
                                }, success:function(re){
                                    if(re.res == "101"){
                                        for(var i=0; i<insert.length; i++){
                                            dataArray.push({
                                                rono : insert[i].rono,
                                                floor : insert[i].floor,
                                                rname : insert[i].rname,
                                                rtype : insert[i].rtype,
                                                status : insert[i].status,
                                                clean : insert[i].clean
                                            });
                                        }
                                        
                                        
                                        for(var i=0; i<update.length; i++){
                                            dataArray.push({
                                                rono : update[i].rono,
                                                floor : update[i].floor,
                                                rname : update[i].rname,
                                                rtype : update[i].rtype,
                                                status : update[i].status,
                                                clean: update[i].clean
                                            });
                                        }
                                        for(var i=0; i<dataArray.length; i++){
                                            var rtype = dataArray[i].rtype;
                                            var rname = dataArray[i].rname;
                                            var floor = dataArray[i].floor;
                                            var rono = dataArray[i].rono;
                                            var status = dataArray[i].status;
                                            var clean = dataArray[i].clean;

                                            $.ajax({
                                                url:"/mysql/room",
                                                data:{
                                                    xml: "room_insert",
                                                    rtype:rtype,
                                                    floor:floor,
                                                    rname:rname,
                                                    rono:rono,
                                                    bsCode:"<%=bsCode%>",
                                                    userId: "<%=session.id%>",
                                                    status: status,
                                                    clean: clean
                                                }, success: function(res){
                                                    ajaxCount++;
                                                    if(res.length == 0){
                                                        saveData = false;
                                                        msg = rono+"추가중 오류가 발생했습니다.";
                                                    }else{
                                                        if(ajaxCount == dataArray.length){
                                                            $.loading.end();
                                                            if(!saveData){
                                                                Alert(msg, function(){
                                                                    location.reload();
                                                                });
                                                            }else{
                                                                Alert("저장 되었습니다.", function(){
                                                                    location.reload();
                                                                });
                                                            }
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                    }else{
                                        Alert("객실 저장에 실패했습니다.");
                                    }
                                }
                            });
                            
                            
                        }, 1000);
                    });
                    
                });
            };
            reader.readAsBinaryString(input.files[0]);
            }
        });
        
    }
</script>
<body>
    <input style="display: none;" type="file" id="id_file_upload" onchange="upload(event)"/>
    <div class="right_contbox">
        <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
            <h2 class="main_cont_tit">객실 설정</h2>
            <div class="main_cont_btn_grp dis_flex_row dis_flex_center">
                <div class="main_cont_width main_cont_width01">
                    <button id="sync_btn" class="icon_btn_txt_left refresh">객실 동기화</button>
                </div>
                <div class="main_cont_width main_cont_width01">
                    <button id="upload_btn" class="icon_btn_txt_left excel">엑셀 업로드</button>
                </div>
                <div class="main_cont_width main_cont_width01">
                    <button class="icon_btn_txt_left download">양식 다운로드</button>
                </div>
            </div>
        </div>
        <div class="wcont_box wcont_box_style01">
            <div class="data_search_box dis_flex_row margin_bottom_16">
                <div class="data_search_grp">
                    <label class="setup_title">날짜</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox01 dis_flex_row dis_flex_center">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <input name="dateSelect" class="inp_style date_default_inp date date_inp" type="text" placeholder="날짜를 선택해주세요.">
                            </div>
                        </div>
                        <div style="width:60px;" class="inp_moving_width inp_moving_width02">
                            <button id="search_btn" class="default_btn">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total_numbox">
                <h2 id="tot_h2"class="total_num_tit">총 3 개</h2>
            </div>
            <div class="table_over_stylebox">
                <div class="table_contbox table_header">
                    <table class="table_list">
                        <colgroup>
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="table_list_th text_left">구분</th>
                                <th class="table_list_th text_left">변경</th>
                                <th class="table_list_th text_left">처리자</th>
                                <th class="table_list_th text_left">처리 날짜</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table_contbox table_body">
                    <table id="log_table" class="table_list">
                        <colgroup>
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="table_list_td text_left">로비</td>
                                <td class="table_list_td text_left">BLE</td>
                                <td class="table_list_td text_left">BOARD 제어</td>
                                <td class="table_list_td text_left">BOARD ON/OFF</td>
                                <td class="table_list_td text_left">
                                    <p class="table_list_td_ok">정상</p>
                                </td>
                                <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                <td class="table_list_td text_left">00:00:01</td>
                            </tr>
                            <tr>
                                <td class="table_list_td text_left">로비</td>
                                <td class="table_list_td text_left">BLE</td>
                                <td class="table_list_td text_left">BOARD 제어</td>
                                <td class="table_list_td text_left">BOARD ON/OFF</td>
                                <td class="table_list_td text_left">
                                    <p class="table_list_td_no">지연</p>
                                </td>
                                <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                <td class="table_list_td text_left">00:00:01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagebtn_grp_box">
                <div id="foot_page"class="pagebtn_grp dis_flex_center dis_flex_row">
                    <a class="pagebtn prev"></a>
                    <a class="pagebtn num active">1</a>
                    <a class="pagebtn num">2</a>
                    <a class="pagebtn num">3</a>
                    <a class="pagebtn num">4</a>
                    <a class="pagebtn num">5</a>
                    <a class="pagebtn next"></a>
                </div>
            </div>
        </div>
        <div id="log_pop" class="popup_wrap" style="display:none;">
            <div class="popup_contbox">
                <div class="popup_header_grp">
                    <div class="popup_header dis_flex_row dis_flex_center dis_flex_end">
                        <div class="dis_flex_row dis_flex_center">
                            <div class="dis_flex_row dis_flex_center">
                                <h2 id="pop_rono" class="popup_title popup_title01">상세 내역</h2>
                            </div>
                        </div>
                        <div class="dis_flex_row dis_flex_center">
                            <a id="pop_close_btn" class="popup_close"></a>
                        </div>
                    </div>
                </div>
                <div class="popup_body">
                    <!-- <div class="pop_table_widthbox dis_flex_row">
                        <div style="width:100%;" class="pop_table_width pop_table_width01">
                            <div class="pop_cont_tbox" style="margin-bottom: 0;">
                                <div class="dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
                                    <h2 class="pop_cont_tit">변경 문자</h2>
                                </div>
                                <div class="pop_table_contbox">
                                    <div class="pop_table_cont_tbox">
                                        <p class="pop_table_cont_txt">201,202,203,204</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="pop_table_widthbox dis_flex_row">
                        <div class="pop_table_width pop_table_width01">
                            <div class="pop_cont_tbox" style="margin-bottom: 0;">
                                <div class="dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
                                    <h2 class="pop_cont_tit">기존 객실</h2>
                                    <h2 id="tot_origin" class="total_num_tit">총 3 개</h2>
                                </div>
                                <div class="pop_table_contbox">
                                    <div class="pop_table_cont_tbox">
                                        <p id="pop_title" class="pop_table_cont_txt">201,202,203,204</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pop_table_width pop_table_width02">
                            <div class="pop_cont_tbox" style="margin-bottom: 0;">
                                <div class="dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
                                    <h2 class="pop_cont_tit">변경 객실</h2>
                                    <h2 id="tot_change" class="total_num_tit">총 3 개</h2>
                                </div>
                               
                                <div class="pop_table_contbox">
                                    <div class="pop_table_cont_tbox">
                                        <p  id="pop_cont" class="pop_table_cont_txt">201,202,203,204</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup_footer">
                    <div class="popup_btn_grp dis_flex_row dis_flex_center dis_flex_right">
                        <!-- <div class="popup_btn_width popup_btn_width01">
                            <button class="popup_btn popup_btn01 popup_btn_cancel default_btn_white">취소</button>
                        </div> -->
                        <div class="popup_btn_width popup_btn_width02">
                            <button id="pop_confirm_btn" class="popup_btn popup_btn02 popup_btn_save default_btn_gray">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>