<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<script type="text/javascript">

    $(window).ready(function() {
        init();
        $(document).on("keyup", "input[name='addr2']", function(){
            if(!$(this).parents("tr").hasClass("new")){
                $(this).parents("tr").addClass("update");
            }
            
        });
        $(document).on("keyup", "input[name='floor']", function(){
            if(!$(this).parents("tr").hasClass("new")){
                $(this).parents("tr").addClass("update");
            }
        });
        $(document).on("change", "select[name='dcod']", function(){
            if(!$(this).parents("tr").hasClass("new")){
                $(this).parents("tr").addClass("update");
            }
        });
        $(document).on("change", "select[name='stau']", function(){
            if(!$(this).parents("tr").hasClass("new")){
                $(this).parents("tr").addClass("update");
            }
        });
        $(document).on("change", "input[name='use']", function(){
            if(!$(this).parents("tr").hasClass("new")){
                $(this).parents("tr").addClass("update");
            }
        });
        var addCount = 0;
        $("#add_btn").on("click", function(){
            var tr ="";
            var check="";
            var roomCode = Number($("#room_table tbody tr").last().attr("data-roomCode"));
            var roomSort = Number($("#room_table tbody tr").last().attr("data-roomSort"));
            if(isNaN(roomCode)){
                roomCode = 0;
            }
            if(isNaN(roomSort)){
                roomSort = 0;
            }
            roomCode++;
            roomSort++;

            check += "<td class='table_td table_td_center'>"
                    + "<div class='check_box_btn'>"
                    + "<input name='use' style='display:none;' type='checkbox' class='ck' id='user_"+addCount+"' checked>"
                    + "<label class='dis_inblock ck_btn' for='user_"+addCount+"'></label>"
                    + "</div>"
                    + "</td>";
            tr += "<tr class='new' data-roomCode='"+roomCode+"' data-roomSort='"+roomSort+"'>"
                    + "<td class='table_td td_ck' dcod_td>"
                    + localDcodSelect
                    + "</td>"
                    + "<td class='table_td td_ck'>"
                    + "<input name='addr2' class='table_td_txt edit_inp' type='text' value='' />"
                    + "</td>"
                    + "<td class='table_td td_ck'>"
                    + "<input name='floor' class='table_td_txt edit_inp' type='text' value='' />"
                    + "</td>"
                    
                    + "<td class='table_td td_ck'>"
                    + localStauSelect
                    + "</td>"
                    + "<td class='table_td td_ck'>"
                    + "<p class='table_td_txt table_td_use'></p>"
                    + "</td>"
                    + check
                    + "</tr>";
                    addCount++;
                    $("#room_table tbody").prepend(tr);
        });
        $("#up_btn").on("click", function(){
            $("#id_file_upload").click();
        });
        $("#down_btn").on("click", function(){
            var a = document.createElement('a');
            a.href = "/local/아파트 호실 추가.xlsx";
            a.click();
        });
        $("#save_btn").on("click", function(){
            var updateData = [];
            var newData = [];
            var roomData = [];
            $.each($(".update"), function(i, v){
                var addr2 = $(this).find("input[name='addr2']").val();
                var floor = $(this).find("input[name='floor']").val();
                var dcod = $(this).find("select[name='dcod']").val();
                var stau = $(this).find("select[name='stau']").val();
                var oneNum = $(this).attr("data-roomNum");
                var ck = "";

                if($(this).find("input[type='checkbox']").is(":checked")){
                    ck = "1";
                }else{
                    ck = "0";
                }
                if(addr2 != "" && floor != ""){
                    updateData.push({
                        addr2: addr2,
                        floor: floor,
                        dcod: dcod,
                        stau: stau,
                        ck: ck,
                        code: $(this).attr("data-roomCode"),
                        sort: $(this).attr("data-roomSort")
                    });
                    
                    roomData.push({
                        num: addr2,
                        dcod: dcod,
                        type: "update",
                        one_num: oneNum
                    });
                }
            });
            $.each($(".new"), function(i, v){
                var addr2 = $(this).find("input[name='addr2']").val();
                var floor = $(this).find("input[name='floor']").val();
                var dcod = $(this).find("select[name='dcod']").val();
                var stau = $(this).find("select[name='stau']").val();
                var ck = "";
                if($(this).find("input[type='checkbox']").is(":checked")){
                    ck = "1";
                }else{
                    ck = "0";
                }
                if(addr2 != "" && floor != ""){
                    newData.push({
                        addr2: addr2,
                        floor: floor,
                        dcod: dcod,
                        stau: stau,
                        ck: ck,
                        code: $(this).attr("data-roomCode"),
                        sort: $(this).attr("data-roomSort")
                    });
                    roomData.push({
                        num: addr2,
                        dcod: dcod,
                        type: "new",
                        one_num: "0"
                    });
                }
            });
            // 
            var checkCount = 0;
            var checkData = [];
            for(var i=0;i<roomData.length;i++){
                $.ajax({
                    url:"/mysql/room",
                    data:{
                        xml:"room_select_admin",
                        hotelCode:"<%=hotelCode%>",
                        num: roomData[i].num,
                        dcod: roomData[i].dcod
                    }, success: function(re){
                        checkCount++;
                        if(re.length > 0){
                            checkData.push({
                                num: re[0].ROOM_CODE_NUM,
                                dcod: re[0].CODE_CONTENT
                            });
                        }
                        if(checkCount == roomData.length){
                            check(checkData, updateData, newData);
                        }
                        
                    }
                });
            }
        });
        $("select[name='search_dcod']").on("change", function(){
            init();
        });
        $.ajax({
            url: "/mysql/common",
            data:{
                xml : "codeList",
                cod: "003"
            }, success:function(res){
                var item="";
                if(res.length > 0){
                    for(var i=0; i<res.length; i++){
                        item+="<option value="+res[i].CODE_CODE+">"+res[i].CODE_CONTENT+"</option>"
                    }
                    $("select[name='search_dcod']").append(item);
                }
                
            }
        })
    });
    function check(data, updateData, newData){
        if(data.length > 0){
            var msg ="";
            for(var i=0;i<data.length; i++){
                msg += "["+data[i].dcod+ " " + data[i].num+"]\n";
            }
            msg += "중복된 동/호를 확인해 주세요.";
            Alert(msg);
        }else{
            roomSave(updateData, newData);
            Alert("저장 되었습니다.", function(){
                location.reload();
            });
        }
        
    }
    function roomSave(updateData, newData){

        $.ajax({
            url: "./mysql/room_save",
            async: false,
            data:{
                updateData: JSON.stringify(updateData),
                newData: JSON.stringify(newData),
                userId: "<%=session.userId%>",
                hotelCode: "<%=hotelCode%>"
            }, success: function(re){
            }
        });
    }
    var localDcodSelect = "";
    var localStauSelect = "";
    function init(){
        $.ajax({
			url:"/mysql/common",
			data:{
				xml : "codeList_two",
				cod1: "003",
                cod2: "010"
			},
			success: function(re){
                
                localDcodSelect = "<select name='dcod' class='dcod_select table_td_txt edit_inp'>";
                localStauSelect = "<select name='stau' class='status_select table_td_txt edit_inp'>";
                for(var j=0; j<re.length; j++){
                    if(re[j].SUBCODE == "003"){
                        localDcodSelect += "<option value='"+re[j].CODE_CODE+"'>"+re[j].CODE_CONTENT+"</option>";
                    }else{
                        localStauSelect += "<option value='"+re[j].CODE_CODE+"'>"+re[j].CODE_CONTENT+"</option>";
                    }
                }
                localDcodSelect += "</select>";
                localStauSelect += "</select>";
                $.ajax({
                    url: "/mysql/room",
                    data:{
                        xml: "room_list_admin",
                        hotelCode: "<%=hotelCode%>",
                        dcod : $("select[name='search_dcod']").val()
                    },
                     success: function(res){
                        if(res.length > 0){
                            var item = "";
                            for(var i=0; i<res.length; i++){
                                var appoUser = "";
                                if(res[i].ROOM_CODE_USE == "1"){
                                    appoUser += "<td class='table_td table_td_center'>"
                                            + "<div class='check_box_btn'>"
                                            + "<input name='use' style='display:none;' type='checkbox' class='ck' id='user_"+i+"' checked>"
                                            + "<label class='dis_inblock ck_btn' for='user_"+i+"'></label>"
                                            + "</div>"
                                            + "</td>";
                                }else{
                                    appoUser += "<td class='table_td table_td_center'>"
                                            + "<div class='check_box_btn'>"
                                            + "<input name='use' style='display:none;' type='checkbox' class='ck' id='user_"+i+"'>"
                                            + "<label class='dis_inblock ck_btn' for='user_"+i+"'></label>"
                                            + "</div>"
                                            + "</td>";
                                }
                                var selectItem = "<select name='dcod' class='dcod_select edit_inp table_td_txt '>";
                                var statusSelect = "<select name='stau' class='status_select edit_inp table_td_txt'>";
                                for(var j=0; j<re.length; j++){
                                    if(re[j].SUBCODE == "003"){
                                        if(re[j].CODE_CODE == res[i].ROOM_CODE_DCOD){
                                            selectItem += "<option value='"+re[j].CODE_CODE+"' selected>"+re[j].CODE_CONTENT+"</option>";
                                        }else{
                                            selectItem += "<option value='"+re[j].CODE_CODE+"'>"+re[j].CODE_CONTENT+"</option>";
                                        }
                                    }else{
                                        if(re[j].CODE_CODE == res[i].ROOM_CODE_STAU){
                                            statusSelect += "<option value='"+re[j].CODE_CODE+"' selected>"+re[j].CODE_CONTENT+"</option>";
                                        }else{
                                            statusSelect += "<option value='"+re[j].CODE_CODE+"'>"+re[j].CODE_CONTENT+"</option>";
                                        }
                                    }
                                }
                                selectItem += "</select>";
                                statusSelect += "</select>";
                                item += "<tr data-roomNum='"+res[i].ROOM_CODE_NUM+"' data-roomCode='"+res[i].ROOM_CODE_CODE+"' data-roomSort='"+res[i].ROOM_CODE_SORT+"'>"
                                    + "<td class='table_td td_ck' dcod_td>"
                                    + selectItem
                                    + "</td>"
                                    + "<td class='table_td td_ck'>"
                                    + "<input name='addr2' class='table_td_txt edit_inp' type='text' value='"+res[i].ROOM_CODE_NUM+"' />"
                                    + "</td>"
                                    + "<td class='table_td td_ck'>"
                                    + "<input name='floor' class='table_td_txt edit_inp' type='text' value='"+res[i].ROOM_CODE_FLOOR+"' />"
                                    + "</td>"
                                    
                                    + "<td class='table_td td_ck'>"
                                    + statusSelect
                                    + "</td>"
                                    + "<td class='table_td td_ck'>"
                                    + "<p class='table_td_txt table_td_use'>"+res[i].ROOM_CODE_LDATE+"</p>"
                                    + "</td>"
                                    + appoUser
                                    + "</tr>";
                            }
                            $("#room_table tbody").empty();
                            $("#room_table tbody").append(item);
                        }else{
                            $("#room_table tbody").empty();
                        }
                    }
                });
			}
		});
        
    }
    function upload(event){
        
        var ajaxCount = 1;
         var input = event.target;
        var reader = new FileReader();
        reader.onload = function(){
            var fdata = reader.result;
            var read_buffer = XLSX.read(fdata, {type : 'binary'});
            read_buffer.SheetNames.forEach(function(sheetName){
                var rowdata =XLSX.utils.sheet_to_json(read_buffer.Sheets[sheetName]);
                var saveData = true;
                
                Confirm("["+rowdata.length+"개] 동/호를 추가 하시겠습니까?\n*기존 데이터는 초기화 됩니다.", function(){
                    room_reset();
                    $.loading.start('Loading...');
                    setTimeout(function() {
                        for(var i=0; i<rowdata.length; i++){
                            var dcod = stringZero(7, rowdata[i].동);
                            var floor = rowdata[i].층;
                            var stau = stringZero(7, rowdata[i].구분);
                            var ck = "1";
                            var addr2 = rowdata[i].호실;

                            $.ajax({
                                url:"/mysql/room",
                                data:{
                                    xml: "room_insert",
                                    dcod:dcod,
                                    floor:floor,
                                    stau:stau,
                                    ck:ck,
                                    addr2:addr2,
                                    hotelCode:"<%=hotelCode%>",
                                    userId: "<%=session.id%>"
                                }, success: function(res){
                                    ajaxCount++;
                                    if(res.length == 0){
                                        saveData = false;
                                        msg = addr2+"추가중 오류가 발생했습니다.";
                                    }else{
                                        if(ajaxCount == rowdata.length){
                                            $.loading.end();
                                            if(!saveData){
                                                Alert(msg, function(){
                                                    location.reload();
                                                });
                                            }else{
                                                Alert("저장 되었습니다.", function(){
                                                    location.reload();
                                                });
                                            }
                                        }
                                    }
                                }
                            });
                        }
                        
                    }, 1000);
                });
                
            });
        };
        reader.readAsBinaryString(input.files[0]);
    }
    function room_reset(){
        $.ajax({
            url:"./mysql/room_remove",
            async: false,
            data:{
                xml: "room_remove"
            }, success: function(re){
                var msg = "";
            }
        });
    }
</script>
</head>
<style>
.pie_progress_wrap{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.45);
    z-index: 9;
}
.pie_progress {
    width: 160px;
    margin: 10px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pie_progress__number{color:#fff;}
.pie_progress__label{color:#fff;}
@media all and (max-width: 768px) {
    .pie_progress {
    width: 80%;
    max-width: 300px;
    }
}
</style>
<body>
	
    <div class="cont_shadow_box cont_shadow_box_800px margin_top_20 padding0">
        <div class="cont_tit_box cont_tit_box_padding20">
            <h2 class="cont_tit">동/호 설정</h2>
            <ul class="top_right_btnbox">
                <li class="top_right_list">
                    <button id="up_btn" class="btn btn_gray">엑셀 업로드</button>
                </li>
                <li class="top_right_list">
                    <button id="down_btn"class="btn btn_gray">양식 다운로드</button>
                </li>
                <li class="top_right_list">
                    <button id="save_btn"class="btn btn_gray">저장</button>
                </li>
                <li class="top_right_list">
                    <button id="add_btn" class="btn btn_blue">동/호 추가</button>
                </li>
            </ul>
        </div>
        <ul class="table_shbox dis_flex_row">
            <li class="table_sh_list table_sh_list01">
                <div class="sh_inpbox_widthbox dis_flex_row">
                    <div class="inp_box sh_inpbox01">
                        <h2 class="sh_inpbox_tit">동</h2>
                    </div>
                    <div class="inp_box sh_inpbox02">
                        <select name="search_dcod" class="default_sel">
                            <option value="" selected>전체</option>
                        </select>
                    </div>
                    <div class="inp_box sh_inpbox02" style="margin-left: 16px; display:none;">
                        <div class="sh_inpbox_widthbox dis_flex_row">
                            <div class="sh_inpbox inp_box">
                                <input type="file" id="id_file_upload" onchange="upload(event)"/>

                                <!-- <input name="user_name_inp" type="text" class="default_inp" placeholder="검색어를 입력해주세요.">
                                <a class="search_icon"></a> -->
                            </div>
                        </div>
                        <div class="sh_inpbox_widthbox dis_flex_row">
                            <div class="sh_inpbox inp_box">
                                <a id="down_excelfile" href="/local/아파트 호실 추가.xlsx" download>다운로드</a>
                                <!-- <input name="user_name_inp" type="text" class="default_inp" placeholder="검색어를 입력해주세요.">
                                <a class="search_icon"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </li>
            <li class="table_sh_list table_sh_list02">
                
            </li>
        </ul>
        <div class="table_hd_top table_notice_padding table_top_padding">
            <table class="table_hdbox">
                <colgroup>
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <tr>
                    <thead>
                        <tr>
                            <th class="table_th">동</th>
                            <th class="table_th">호</th>
                            <th class="table_th">층</th>
                            <th class="table_th">상태</th>
                            <th class="table_th">변경날짜</th>
                            <th class="table_th" style="text-align: center;">사용여부</th>
                        </tr>
                    </thead>
                </tr>
            </table>
        </div>
        <div class="table_body_scroll">
            <div class="table_notice_padding">
                <table id="room_table" class="table_notice hover_table">
                    <colgroup>
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                    </colgroup>
                    <tr>
                        <!-- <thead>
                            <tr>
                                <th class="table_th">동</th>
                                <th class="table_th">호</th>
                                <th class="table_th">층</th>
                                <th class="table_th">상태</th>
                                <th class="table_th">변경날짜</th>
                                <th class="table_th" style="text-align: center;">사용여부</th>
                            </tr>
                        </thead>  -->
                        <!-- 자료 없을때 -->
                       <!-- <tr style="display: none;">
                            <td colspan="6" class="empty_td">
                                <p class="empty_td_txt">조회된 자료가 없습니다.</p>
                            </td>
                        </tr> -->
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- 팝업 -->

</body>
</html>