<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<script type="text/javascript" src="/js/admin/userAdmin.js"></script>
<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/admin/profile_upload.js"></script>

<script type="text/javascript">
    var adminKey;
    var subKey;
    var sdate = "";
	var edate = "";
    var userName = "";
    var userAppo = "";
    
    var userTotal = 0;
    var userPage = 0;
    var userPageSize = 12;
    var userSelectPage = 1;

    $(window).ready(function() {
        
        user_init();

        $("#imgBtn").on("click", function(){
            // $(".chat_pop_wrap").css("display", "block");
            $("input[name='addFile']").click();
        });
        $("input[name='addFile']").on("change", function(e){
            addFiles(e, this);
        });
        
        var myCal = bulmaCalendar.attach('.date_default_inp', {
            isRange: true,
            type: 'date',
            showFooter: false,
            dateFormat: 'yyyy-MM-dd'
        });
        var myCal2 = bulmaCalendar.attach('.pop_user_edate', {
            isRange: false,
            type: 'date',
            showFooter: false,
            dateFormat: 'yyyy-MM-dd',
            minDate:curDate("-"),
            
        });
        var element = document.querySelector('.pop_user_edate');
        if (element) {
            element.bulmaCalendar.on('select', function(datepicker) {
                $(element).val(datepicker.data.value());
            });
        }
        $(".search_icon").on("click" ,function(){
            var dateInput = $("input[name='user_date']").val();
			dateInput = dateInput.split(" ~ ");
			sdate = dateInput[0];
			edate = dateInput[1];
            userName = $("input[name='user_name_inp']").val();
            if(userName == undefined){
                userName = "";
            }
            userAppo = $("select[name='user_use']").val();
            user_init();
        });
        
        $(document).on("click", "#user_table .td_ck", function(){
            popReset();
            $(".popbox_back").css("display", "block");
            adminKey = $(this).parents("tr").attr("data-userKey");
            popUserInfo();
        });
        $(".pop_cancel_btn, .pop_btn_cancel").on("click", function(){
            $(".popbox_back").css("display", "none");
            popReset();
            adminKey = "";
        });
        $("#pwResetBtn").on("click", function(){
            Confirm("비밀번호를 초기화 하시겠습니까?\n비밀번호는 [123456]으로 초기화 됩니다.", function(){
                $.ajax({
                    url:"/mysql/user",
                    data:{
                        xml: "admin_pw_reset",
                        pass:"123456",
                        adminKey: adminKey,
                        userId: "<%=session.id%>"
                    },success:function(res){
                        if(res != null){
                            Alert("초기화 되었습니다.");
                        }
                    }
                });
            });
        });
        $('body').on("change","[name='pop_user_level']",function(){
            console.log($(this).val());
            if($(this).val() == "0010003"){
                $("input[name='pop_user_edate']").closest('.block_inp_box').hide();
                $("[data-tab='pop_addr']").hide();
            }else{
                $("input[name='pop_user_edate']").closest('.block_inp_box').show();
                $("[data-tab='pop_addr']").show();
            }
        });
        $("#pop_user_save_btn").on("click", function(){
            var xml = "";
            if($("input[name='pop_user_name']").val() == ""){Alert("이름을 입력해 주세요.",function(){$("input[name='pop_user_name']").focus();});return;}
            if($("input[name='pop_user_tel']").val() == ""){Alert("전화번호를 입력해 주세요.",function(){$("input[name='pop_user_tel']").focus();});return;}
            if($("[name='pop_user_level']").val() == "0010003"){
                $("input[name='pop_user_edate']").val('');
            }else{
                if($("input[name='pop_user_edate']").val() == ""){Alert("유효기간을 입력해 주세요.",function(){$("input[name='pop_user_edate']").focus();});return;}
            }
            if($("input[name='pop_user_id']").val() == ""){Alert("아이디를 입력해 주세요.",function(){$("input[name='pop_user_id']").focus();});return;}
            if($("input[name='pop_user_addr1']").val() == ""){Alert("주소를 입력해 주세요.",function(){});return;}
            if($("input[name='pop_user_addr2']").val() == ""){Alert("상세주소를 입력해 주세요.",function(){});return;}
            if(adminKey == ""){
                xml = "admin_user_insert";
                
                $.ajax({
                    url : '/mysql/user',
                    data : {
                        xml : 'select_find_id',
                        id : $("input[name='pop_user_id']").val()
                    },
                    success : function(res){
                        var idCnt = res.length;
                        if(idCnt > 0){
                            Alert("이미 사용중인 ID입니다.",function(){
                                $("input[name='pop_user_id']");
                                return;
                            });
                        } else {
                            $.ajax({
                                url : "/mysql/user",
                                data: {
                                    xml: xml,
                                    id: $("input[name='pop_user_id']").val(),
                                    userId: "<%=session.id%>",
                                        adminKey: adminKey,
                                        name: $("input[name='pop_user_name'").val(),
                                        tel: $("input[name='pop_user_tel']").val(),
                                        addr1: $("input[name='pop_user_addr1']").val(),
                                        addr2: $("input[name='pop_user_addr2']").val(),
                                        imgname: $("input[name='user_img_name']").val(),
                                        imgpath: $("input[name='user_img_path']").val(),
                                        pass: "123456",
                                        level : $("select[name='pop_user_level']").val(),
                                        use : $("select[name='pop_user_use']").val(),
                                        hotelCode: "<%=hotelCode%>",
                                        edate:replaceAll($("input[name='pop_user_edate']").val(),"-",""),
                                } ,success: function(re){
                                    if(re != null){
                                        Alert("저장 되었습니다.", function(){
                                            window.location.reload(true);
                                        });
                                    }
                                }
                            });
                        }
                    },
                    error : function(e){
                        console.log(e.responseText);
                    }
                });
            }else{
                xml = "admin_user_update";
                $.ajax({
                url : "/mysql/user",
                data: {
                    xml: xml,
                    id: $("input[name='pop_user_id']").val(),
                    userId: "<%=session.id%>",
                        adminKey: adminKey,
                        name: $("input[name='pop_user_name'").val(),
                        tel: $("input[name='pop_user_tel']").val(),
                        addr1: $("input[name='pop_user_addr1']").val(),
                        addr2: $("input[name='pop_user_addr2']").val(),
                        imgname: $("input[name='user_img_name']").val(),
                        imgpath: $("input[name='user_img_path']").val(),
                        pass: "123456",
                        level : $("select[name='pop_user_level']").val(),
                        use : $("select[name='pop_user_use']").val(),
                        hotelCode: "<%=hotelCode%>",
                        edate:replaceAll($("input[name='pop_user_edate']").val(),"-",""),
                } ,success: function(re){
                    if(re != null){
                        Alert("저장 되었습니다.", function(){
                            window.location.reload(true);
                        });
                    }
                    }  
                });
            }
            
            
        });
        $("#pop_user_save_btn2").on("click", function(){
            addrSave();

        });
        $("#user_add_btn").on("click", function(){
            $(".popbox_back").css("display", "block");
            popReset();
            adminKey = "";
            $("select[name='pop_user_use']").val("1");
        });

        $(".pop_tab_listbox li").on("click", function(){
            $(".pop_tab_listbox li").removeClass("active");
            $(this).addClass("active");
            console.log($(this));
            $("#pop_user_div").css("display", "none");
            $("#pop_addr_div").css("display", "none");
            $("#pop_user_save_btn").css("display","none");
            $("#pop_user_save_btn2").css("display","none");
            console.log($(this).attr("data-tab"));
            if($(this).attr("data-tab") == "pop_user"){
                $("#pop_user_div").css("display", "block");
                $("#pop_user_save_btn").css("display","block");
            }else if($(this).attr("data-tab") == "pop_addr"){
                console.log($("#pop_user_save_btn2"));
                $("#pop_addr_div").css("display", "block");
                $("#pop_user_save_btn2").css("display","block");
                dcodList("<%=hotelCode%>");
            }
        });
        var allcheck = true;
        $("#all_click_btn").on("click", function(){
            allcheck = !allcheck;
            $.each($("input[type='checkbox']"), function(i, v){
                if(!allcheck){
                    $(this).prop("checked", true);
                }else{
                    $(this).prop("checked", false);
                }
            });
        });
    });


    function user_init(){
        $.ajax({
            url:"/mysql/user",
            data:{
                xml: "select_admin_list",
                sdate: sdate,
                edate: edate,
                level: $("select[name='user_level']").val(),
                appo: userAppo,
                name: userName,
                page: userPage,
                pageSize: userPageSize
            }, success: function(res){
                if(res.length > 0){
                    userTotal = res[0].TOTAL;
                var item = "";
                paging(userTotal, userPageSize, userSelectPage);
                for(var i=0; i<res.length; i++){
                    var appoUser = "<p class='table_td_txt table_td_txt_none'>미사용</p>";
                    if(res[i].ADMIN_USE == "1"){
                        appoUser = "<p class='table_td_txt table_td_use'>사용</p>";
                    }
                    var edate = res[i].ADMIN_EDATE;
                    if(edate.length==8){
                        edate = edate.substring(0,4)+"-"+edate.substring(4,6)+"-"+edate.substring(6,8);
                    }
                    item += "<tr data-userKey='"+res[i].ADMIN_KEY+"'>"
                          + "<td class='table_td td_ck'>"
                          + "<p class='table_td_txt'>"+res[i].CODE_CONTENT+"</p>"
                          + "</td>"
                          + "<td class='table_td td_ck'>"
                          + "<p class='table_td_txt'>"+res[i].ADMIN_ID+"</p>"
                          + "</td>"
                          + "<td class='table_td td_ck'>"
                          + "<p class='table_td_txt'>"+res[i].ADMIN_NAME+"</p>"
                          + "</td>"
                          + "<td class='table_td td_ck'>"
                          + "<p class='table_td_txt'>"+res[i].ADMIN_ADDR1+" "+res[i].ADMIN_ADDR2+"</p>"
                          + "</td>"
                          + "<td class='table_td td_ck'>"
                          + "<p class='table_td_txt'>"+res[i].ADMIN_FDATE+"</p>"
                          + "</td>"
                          + "<td class='table_td td_ck'>"
                          + "<p class='table_td_txt'>"+edate+"</p>"
                          + "</td>"
                          + "<td class='table_td td_ck'>"
                          + appoUser
                          + "</td>"
                          + "</tr>";
                    }
                    $("#user_table tbody").empty();
                    $("#user_table tbody").append(item);
                }else{
                    $("#user_table tbody").empty();
                }
            }
        });
    }
</script>
</head>
<style>

</style>
<body>
	
    <div class="cont_shadow_box cont_shadow_box_800px padding0">
        <div class="cont_tit_box cont_tit_box_padding20">
            <h2 class="cont_tit">담당 관리</h2>
            <ul class="top_right_btnbox">
                
                <li class="top_right_list">
                    <button id="user_add_btn" class="btn btn_blue">담당자 추가</button>
                </li>
            </ul>
        </div>
        <ul class="table_shbox dis_flex_row">
            <li class="table_sh_list table_sh_list01">
                <div class="sh_inpbox_widthbox dis_flex_row">
                    <div class="inp_box sh_inpbox01">
                        <h2 class="sh_inpbox_tit">등급</h2>
                    </div>
                    <div class="inp_box sh_inpbox02">
                        <select name="user_level" class="default_sel">
                            <option value="" selected>전체</option>
                            <option value="0010003">담당자</option>
                            <option value="0010004">출입업체</option>
                        </select>
                    </div>
                    <div class="inp_box sh_inpbox04">
                        <h2 class="sh_inpbox_tit">가입날짜</h2>
                    </div>
                    <div class="inp_box sh_inpbox02">
                        <input name="user_date" type="text" class="date_default_inp date_inp" placeholder="날짜를 선택해주세요.">
                    </div>
                    <div class="inp_box sh_inpbox04">
                        <h2 class="sh_inpbox_tit">상태</h2>
                    </div>
                    <div class="inp_box sh_inpbox02">
                        <select name="user_use" class="default_sel">
                            <option value="">전체</option>
                            <option value="1">사용</option>
                            <option value="0">미사용</option>
                        </select>
                    </div>
                </div>
                
            </li>
            <li class="table_sh_list table_sh_list02">
                <div class="sh_inpbox_widthbox dis_flex_row">
                    <div class="sh_inpbox inp_box">
                        <input name="user_name_inp" type="text" class="default_inp search_inp" placeholder="이름을 입력해주세요.">
                        <a class="search_icon"></a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="table_notice_padding">
            <table id="user_table" class="table_notice hover_table">
                <colgroup>
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <tr>
                    <thead>
                        <tr>
                            <th class="table_th">등급</th>
                            <th class="table_th">ID</th>
                            <th class="table_th">사용자</th>
                            <th class="table_th">주소</th>
                            <th class="table_th">가입날짜</th>
                            <th class="table_th">유효기간</th>
                            <th class="table_th">사용여부</th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                        <tr>
                            <td class="table_td">
                                <p class="table_td_txt">user1</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">홍길동</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">101동</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">1001호</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">2022-01-17 14:15</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt table_td_use">사용</p>
                            </td>
                            <td class="table_td table_td_center">
                                <div class="check_box_btn">
                                    <input type="checkbox" class="ck" id="text2" checked>
                                    <label class="dis_inblock ck_btn" for="text2"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="table_td">
                                <p class="table_td_txt">user2</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">홍길동</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">101동</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">1002호</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt">2022-01-17 14:15</p>
                            </td>
                            <td class="table_td">
                                <p class="table_td_txt table_td_txt_none">미사용</p>
                            </td>
                            <td class="table_td table_td_center">
                                <div class="check_box_btn">
                                    <input type="checkbox" class="ck" id="text3" checked>
                                    <label class="dis_inblock ck_btn" for="text3"></label>
                                </div>
                            </td>
                        </tr>
                    </tbody> -->
                    <!-- 조회자료 없을때 -->
                    <!-- <tr style="display: none;">
                        <td colspan="6" class="empty_td">
                            <p class="empty_td_txt">조회된 자료가 없습니다.</p>
                        </td>
                    </tr> -->
                </tr>
            </table>
        </div>
    </div>
    <div id="foot_page" class="numbtn_list_grp">
        <ul class="numbtn_list_box">
            <!-- <li class="numbtn_list_li">
                <button class="button_num_btn button_num_btn_arr  pagebtn_hover_style">처음 페이지</button>
            </li> -->
            <li id="prev_page_btn" class="numbtn_list_li">
                <button class="button_num_btn button_num_btn_arr pagebtn_hover_style">이전 페이지</button>
            </li>
            <li class="numbtn_list_li">
                <button class="button_num_btn active pagebtn_hover_style">
                    <p class="button_02_bold gray_darken_3_font">1</p>
                </button>
            </li>
            
            <li id="next_page_btn" class="numbtn_list_li">
                <button class="button_num_btn button_num_btn_arr pagebtn_hover_style">다음 페이지</button>
            </li>
            </ul>
        </div>
    </div>
    <!-- 팝업 -->
<div class="popbox_back" style="display: none;">
    <div class="pop_cont_box">
        <div class="pop_header_box">
            <div class="pop_tit_box">
                <h2 class="pop_cont_tit">담당자 상세</h2>
                <a class="pop_cancel_btn"></a>
            </div>
            <ul class="pop_tab_listbox">
                <li data-tab="pop_user" class="pop_tab_list active">
                    <a class="pop_tab_btn">담당자 정보</a>
                    <div class="tab_line"></div>
                </li>
                <li data-tab="pop_addr" class="pop_tab_list">
                    <a class="pop_tab_btn">출입구간 관리</a>
                    <div class="tab_line"></div>
                </li>
                <li data-tab="pop_log" style="display:none;"class="pop_tab_list">
                    <a class="pop_tab_btn">담당자 기록</a>
                    <div class="tab_line"></div>
                </li>
            </ul>
        </div>
        <div class="pop_body_box">
            <!-- 회원 정보-->
            <div id="pop_user_div" class="block_cont" style="display: block;">
                <div class="block_cont_tbox">
                    <h2 class="block_cont_tit">담당자 정보</h2>
                    <div class="right_btn_box">
                        <button id="pwResetBtn"class="btn_small btn_red">비밀번호 초기화</button>
                    </div>
                </div>
                <div class="block_inp_box profile_img_widthbox dis_flex_row">
                    <div class="profile_img_width profile_img_width01">
                        <div class="profile_img_userbox">
                            <div id="user_img" class="profile_img_user"></div>
                            <input name="user_img_name" type="hidden" value=""/>
                            <input name="user_img_path" type="hidden" value=""/>
                        </div>
                        <div class="profile_img_change_btn">
                            <button id="imgBtn" class="btn_small btn_gray">프로필 변경</button>
                        </div>
                    </div>
                    <div class="profile_img_width profile_img_width02">
                        <div class="block_inp_box">
                            <label class="setup_tit">이름</label>
                            <div class="edit_inpbox">
                                <input name="pop_user_name" type="text" class="edit_inp">
                            </div>
                        </div>
                        <div class="block_inp_box">
                            <label class="setup_tit">전화번호</label>
                            <div class="edit_inpbox">
                                <input name="pop_user_tel" type="text" class="edit_inp">
                            </div>
                        </div>
                        <!-- <div class="block_inp_box">
                            <label class="setup_tit">전화번호</label>
                            <div class="block_btn_widthbox block_btn_widthbox02 dis_flex_row">
                                <div class="block_btn_width block_btn_width01">
                                    <input  name="pop_user_tel" type="text" class="edit_inp phone">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="block_inp_box">
                    <label class="setup_tit">등급</label>
                    <div class="edit_inpbox">
                        <select name="pop_user_level" class="edit_inp">
                            <option value="0010003">담당자</option>
                            <option value="0010004">출입업체</option>
                        </select>
                    </div>
                </div>
                <div class="block_inp_box">
                    <label class="setup_tit">유효기간</label>
                    <div class="edit_inpbox">
                        <input name="pop_user_edate" value="" type="date" class="pop_user_edate date_inp edit_inp" placeholder="날짜를 선택해주세요.">
                    </div>
                </div>
                <div class="block_inp_box">
                    <label class="setup_tit">ID</label>
                    <div class="edit_inpbox">
                        <input name="pop_user_id" type="text" class="edit_inp">
                    </div>
                </div>
                <div class="block_inp_box">
                    <label class="setup_tit">주소</label>
                    <div class="edit_inpbox">
                        <input name="pop_user_addr1" type="text" class="edit_inp">
                    </div>
                </div>
                <div class="block_inp_box">
                    <label class="setup_tit">상세주소</label>
                    <div class="edit_inpbox">
                        <input name="pop_user_addr2" type="text" class="edit_inp">
                    </div>
                </div>
                
                <div class="block_inp_box">
                    <label class="setup_tit">사용여부</label>
                    <div class="edit_inpbox">
                        <select name="pop_user_use" class="edit_inp">
                            <option value="0">미사용</option>
                            <option value="1">사용</option>
                        </select>
                        <!-- <input name="pop_user_addr2" type="text" class="edit_inp"> -->
                    </div>
                </div>
            </div>

            <div id="pop_addr_div" class="block_cont" style="display: none;">
                <div class="block_cont_tbox">
                    <h2 class="block_cont_tit">출입구간 관리</h2>
                </div>
                <div class="table_cont_box margin_top_20">
                    <div class="table_header_box">
                        <table class="table_header_tb">
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="key_list_th key_list_th02">동</th>
                                    <th class="key_list_th key_list_th02">
                                        <input style='display:none;' type='checkbox' class='ck' id='all_click_btn'>
                                        <label class='dis_inblock ck_btn' for='all_click_btn'></label>
                                    </th>							
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table_body_box">
                        <table class="table_body_tb key_list_tb key_list_tb_addr">
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <tbody>
                                <!-- 조회내역 없을때 -->
                                <tr>
                                    <td colspan="2" class="key_list_td key_list_td_none">조회내역이 없습니다.</td>							
                                </tr>
                                <!-- //조회내역 없을때 -->
                                <tr>
                                    <td class="key_list_td key_list_td02">1 LINE</td>
                                    <td class="key_list_td key_list_td02">
                                        <input style='display:none;' type='checkbox' class='ck' id='code_1'>
                                        <label class='dis_inblock ck_btn' for='code_1'></label>
                                    </td>							
                                </tr>
                                <tr>
                                    <td class="key_list_td key_list_td02">2 LINE</td>
                                    <td class="key_list_td key_list_td02">
                                        <input style='display:none;' type='checkbox' class='ck' id='code_2'>
                                        <label class='dis_inblock ck_btn' for='code_2'></label>
                                    </td>							
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- 출입 기록 -->
            <div id="pop_inout_div" class="table_list_box" style="display: none;">
                <div class="block_cont">
                    <div class="search_inp_grp dis_flex_row">
                        <div class="search_widthbox search_widthbox01">
                            <label class="setup_tit">날짜 조회</label>
                            <div class="search_sub_widthbox dis_flex_row">
                                <div class="search_width search_width01">
                                    <div class=""><input name="inOutSdate"class="key_list_inp key_list_inp01 key_list_date" type="text" placeholder="날짜를 선택해주세요."></div>
                                </div>
                                <div class="search_width search_width02">
                                    ~
                                </div>
                                <div class="search_width search_width03">
                                    <div class=""><input name="inOutEdate"class="key_list_inp key_list_inp01 key_list_date" type="text" placeholder="날짜를 선택해주세요."></div>
                                </div>
                            </div>
                        </div>
                        <div class="search_widthbox search_widthbox02 dis_flex_row">
                            <div class="search_width search_width01">
                                <div class="key_list_cont_inp">
                                    <label class="setup_tit">사용자</label>
                                    <select name="sub_user_list" class="key_list_sel">
                                        <option selected>전체</option>
                                        <option>아빠</option>
                                        <option>엄마</option>
                                        <option>누나</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search_width search_width02">
                                <div class="key_list_cont_inp">
                                    <label class="setup_tit">오픈 방식</label>
                                    <select class="key_list_sel">
                                        <option selected>전체</option>
                                        <option>스마트키</option>
                                        <!-- <option>비밀번호</option> -->
                                    </select>
                                </div>
                            </div>
                            <div class="search_width search_width03">
                                <button id="in_out_search_btn" class="btn btn_gray">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table_cont_box margin_top_20">
                    <div class="table_header_box">
                        <table class="table_header_tb">
                            <colgroup>
                                <col width="33.3333%">
                                <col width="33.3333%">
                                <col width="33.3333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="key_list_th key_list_th01">출입날짜</th>
                                    <th class="key_list_th key_list_th02">사용자</th>
                                    <th class="key_list_th key_list_th03">출입방식</th>							
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table_body_box">
                        <table class="table_body_tb key_list_tb">
                            <colgroup>
                                <col width="33.3333%">
                                <col width="33.3333%">
                                <col width="33.3333%">
                            </colgroup>
                            <tbody>
                                <!-- 조회내역 없을때 -->
                                <tr>
                                    <td colspan="3" class="key_list_td key_list_td_none">조회내역이 없습니다.</td>							
                                </tr>
                                <!-- //조회내역 없을때 -->
                                <tr>
                                    <td class="key_list_td key_list_td01">2021-12-31 PM 18:35:25</td>
                                    <td class="key_list_td key_list_td02">아빠</td>
                                    <td class="key_list_td key_list_td03">스마트키 사용</td>							
                                </tr>
                                <tr>
                                    <td class="key_list_td key_list_td01">2021-12-31 PM 18:35:25</td>
                                    <td class="key_list_td key_list_td02">아빠</td>
                                    <td class="key_list_td key_list_td03">스마트키 사용</td>							
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="pop_foot_box">
            <ul class="pop_foot_btnbox">
                <li class="pop_foot_btn_list">
                    <button id="btn_pop_cancel" class="btn pop_btn_cancel">취소</button>
                </li>
                <li class="pop_foot_btn_list">
                    <button id="pop_user_save_btn" class="btn btn_save">저장</button>
                </li>
                <li class="pop_foot_btn_list" >
                    <button id="pop_user_save_btn2" class="btn btn_save"style="display: none;">저장</button>
                </li>
            </ul>
        </div>
        <input style="display: none;" type="file" name="addFile" accept="*" multiple> 
        <form id="frm" style="display:none;" method="POST" enctype="multipart/form-data" action="/upload/create">
    </div>
</body>
</html>