<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />



<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/mobile/chat.js"></script>
<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/img_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<link href="/js/image-popup/magnific-popup.css" rel="stylesheet" />
<script type="text/javascript" src="/js/image-popup/jquery.magnific-popup.js"></script>

<script type="text/javascript">
    var socket = io();
    var bleConnect = false;
    var socketConnect = false;
    var userTime = false;
    var userUseMsg = "";
    
	socket.on("ble", function(data){
		console.log(data);
        if(data.msg == "scanstop"){
            Alert("검색된 도어락이 없습니다.\n관리자에게 문의해 주세요.");
            $.loading.end();
        }else if(data.msg == "connect"){
            clearInterval(actionInterver);
            $("#connect").removeClass("disabled");
            $("#connect").addClass("on");
            Alert("도어락이 연결 되었습니다.");
            bleConnect = true;
            $.loading.end();
            oDateCheck();
        }else if(data.msg == "disconnect"){
            $("#connect").removeClass("on");
            $("#connect").addClass("disabled");
            Alert("도어락 연결이 종료 되었습니다.");
            
            bleConnect = false;
            $.loading.end();
        }else if(data.msg == "mqttConnect"){
            clearInterval(mqttInterver);
            if(data.state == "0"){
                if(!userTime){Alert(userUseMsg);$.loading.end();return;}
                $.ajax({
                    url:"/bleConnect",
                    data:{
                        topic: "oasyss32/"+topic,
                        open: "0110001"
                    },
                    success : function(result){
                        actionCheck(20);
                    }
                });
            }else{
                clearInterval(actionInterver);
                $("#connect").removeClass("disabled");
                $("#connect").addClass("on");
                bleConnect = true;
                Alert("도어락이 연결 되었습니다.");
                $.loading.end();
                oDateCheck();
            }
        }else if(data.msg == "open"){
            clearInterval(actionInterver);
            $.loading.end();
            if(data.state == "1"){
                Alert("문이 열렸습니다.");
            }
        }else if(data.msg == "passTimeSett"){
            clearInterval(actionInterver);

            var put ={
                passTime:odate,
                rono:rono,
                bsCode:pad(hotelCode, 7),
                user: acno+"/"+rspk
            };
            door_sett(put);
            $.loading.end();
        }
	});
    var actionInterver;
    var clickInterver;
    var openClick = false;

    function clickCheck(){
        var count = 0;
        clickInterver = setInterval(function(){
            count++;
            if(count > 20){
                openClick = false;
                clearInterval(clickInterver);
                
            }
        }, 1000);
    }
    
    function actionCheck(limit){
        var count = 0;
        actionInterver = setInterval(function(){
            count++;
            if(count > limit){
                clearInterval(actionInterver);
                $("#connect").removeClass("on");
                $("#connect").addClass("disabled");
                Alert("도어락 연결을 확인해 주세요.");
                $.loading.end();
            }
        }, 1000);
    }
    var mqttInterver;
    function mqttCheck(){
        var mqttCount = 0;
        mqttInterver = setInterval(function(){
            console.log("힝? " + mqttCount);
            mqttCount++;
            if(mqttCount > 4){
                clearInterval(mqttInterver);
                Alert("브릿지 연결을 확인해 주세요.");
                $.loading.end();
            }
        }, 2000);
    }
    var acno = "<%=acno%>";
    var hotelCode = "<%=hotelCode%>";
    var rspk = "<%=rspk%>";
    var rono = "<%=rono%>";
    var roomName;
    var topic;
    var gname="";
    var odate = "";
    function init(){
        topic = removePad(hotelCode)+"/"+rono;
        roomName = removePad(hotelCode)+"_"+rono;
        hotelCode = pad(hotelCode, 7);
        
        $.loading.start("");
        console.log(acno +"/"+hotelCode+"/"+rspk+"/"+rono);
        $.ajax({
            url:"./mysql/fo",
            data:{
                xml:"bridge_tran_select",
                acno: acno,
                hotelCode: hotelCode,
                rspk: rspk,
                rono: rono
            },success:function(res){
                if(res.length == 0){
                    Alert("비정상적인 접근 입니다.");
                }else{
                    $("#layout_logo").attr("src", res[0].BS_LOGO);
                    $("#layout_logo").css("display", "block");
                    $("#layout_title").text(res[0].BS_NAME);
                    $("#idate").text(res[0].BRIDGE_TRAN_IDATE);
                    $("#odate").text(res[0].BRIDGE_TRAN_ODATE);
                    odate = res[0].BRIDGE_TRAN_ODATE;
                    $(".room_num").text(res[0].BRIDGE_TRAN_RONO);
                    gname = res[0].BRIDGE_TRAN_GNAME;
                    $.loading.end();

                    $("#index_con").css("display","block");
                    if(res[0].CHECKIN == '0'){
                        $.loading.end();
                        userUseMsg = "사용기간이 아닙니다.";
                        Alert(userUseMsg);
                        userTime = false;
                    }else if(res[0].BRIDGE_TRAN_KCDA != ""){
                        userTime = false;
                        userUseMsg = "취소된 폰키 입니다.";
                        Alert(userUseMsg);
                    }else{
                        userTime = true;
                        first();
                    }
                }
            }
        });
    }
    function first(){
        $.ajax({
            url:"/socket/room",
            data:{
                name: roomName
            },
            success:function(res){
                if(Number(res.room_size) == 0){
                    socketConnect = true;
                    socket.emit("joinRoom", roomName, gname, "0");

                    $.loading.start('도어락 연결 중입니다.');
        
                    setTimeout(function(){
                        $.ajax({
                            url:"/mqttCheck",
                            data:{
                                topic: "oasyss32/"+topic,
                                userId: acno+"/"+rspk
                            },
                            success : function(result){
                                mqttCheck();
                            }
                        });  
                    },1000);
                    
                }else{
                    socketConnect = false;
                    Alert("현재 사용중인 폰키 입니다.");
                }
            }
        });
    }
    //도어락 정보 저장
    function door_sett(data){
        $.ajax({
            url:"./doorSett",
            data:data
            , success:function(res){
            }
        });
    }
    function oDateCheck(){
        $.ajax({
            url:"/mysql/mqtt",
            data:{
                xml: "door_time_check",
                userId: acno+"/"+rspk,
                rono:rono,
                bsCode:pad(hotelCode, 7)
            },success:function(res){
                console.log(res);
                if(res.length > 0){
                    var setEdate = res[0].ROOM_TIME_PASS;
                    if(setEdate != ""){
                        var oneOdate="";
                        var date = odate;
                        date = date.replace(/-/gi, "");
                        date = date.replace(/ /gi, "");
                        date = date.replace(/PM/gi, "");
                        date = date.replace(/AM/gi, "");
                        date = date.replace(/:/gi, "");

                        var year = date.substring(0,4);
                        var month = date.substring(4,6);
                        var toDate = date.substring(6,8);
                        var hours = date.substring(8,10);
                        var minutes = date.substring(10,12);
                        oneOdate = year+""+month+""+toDate+""+hours+""+minutes;
                        if(setEdate != oneOdate){
                            $.loading.start('도어락 기초 설정 중 입니다.');
                            $.ajax({
                                url:"/passTimeSett",
                                data:{
                                    userId: acno+"/"+rspk,
                                    open: "0110001",
                                    topic: "oasyss32/"+topic,
                                    date: odate
                                }, success:function(res){
                                    actionCheck(10);
                                }
                            });
                        }
                    }
                    defaultTime = 0;
                }
            }
        });
    }
    
	$(window).ready(function() {
        init();
        $("#connect").on("click", function(){
            if(!userTime){Alert(userUseMsg);return;}
            if(!socketConnect){Alert("현재 사용중인 폰키 입니다.");return;}
            $.loading.start('도어락 연결 중입니다.');
            setTimeout(function(){
                $.ajax({
                    url:"/mqttCheck",
                    data:{
                        topic: "oasyss32/"+topic,
                        userId: acno+"/"+rspk
                    },
                    success : function(result){
                        mqttCheck();
                    }
                });  
            },1000);
        });
		
		$("#openBtn").on("click", function(){
            if(!userTime){Alert(userUseMsg);return;}
            if(!socketConnect){Alert("현재 사용중인 폰키 입니다.");return;}
            if(!bleConnect){Alert("도어락을 연결해 주세요.");return;}
            if(openClick){Alert("잠시 뒤 시도해 주세요.");return;}
            Confirm("문을 여시겠습니까?", function(){
                $.loading.start('문을 여는 중입니다.');
                $.ajax({
                    url:"/doorOn",
                    data:{
                        topic: "oasyss32/"+topic,
                        open: "0110001",
                        userId: acno+"/"+rspk
                    },
                    success : function(result){
                        openClick = true;
                        actionCheck(10);
                        clickCheck();
                    }
                });
            });
		});
        if("<%=pri_check%>" != ""){
            $("#pri_warp").css("display", "none");
        }else{
            $("#pri_warp").css("display", "block");
        }
        $("#pri_confirm").on("click", function(){
            var ck = $("#pri_check").is(":checked");
            if(ck){
                $("#pri_warp").css("display", "none");
                $.ajax({
                    url:"./pri_cookie",
                    success:function(){

                    }
                });
            }else{
                Alert("약관에 동의해 주세요.");
            }
        });
        $(".password_set_btn").on("click", function(){
            if(!userTime){Alert(userUseMsg);return;}
            if(!socketConnect){Alert("현재 사용중인 폰키 입니다.");return;}
            location.href = "./keySett?key=<%=key%>";
        });
	});

</script>
</head>
<body >
	<div id="index_con" class="contents" style="display:none;">
        <div class="key_wrap">
            <div class="key_grp_cont key_grp_cont01">
                <div class="key_top_tbox">
                    <h2 class="eng_tit">Click the button to open the door</h2>
                    <h2 class="kor_tit">버튼을 클릭하여 문을 열어주세요.</h2>
                </div>
            </div>
            <div class="key_grp_cont key_grp_cont02">
                <div class="body_open_key_box mb20">
                    <button class="door_open_btn dis_flex_row dis_flex_row_center" id="openBtn">
                        <span class="open_icon">
                            <img src="/static/img/mobile/door/open_lock04.png">
                        </span>
                        <em class="door_open_tit door_open_tit3">OPEN</em>
                    </button>
                </div>
            </div>
            <div class="key_grp_cont key_grp_cont03">
                <div class="mb20 cont_box dis_flex_row dis_flex_row_center dis_flex_row_end">
                    <div class="room_tbox">
                        <h2 class="room_tit">Room<em class="room_num">101</em></h2>
                    </div>
                    <div class="room_link_box">
                        <!-- 연결중일때 .on -->
                        <button class="room_link_btn disabled" id="connect">
                            <span class="room_link_icon"></span>
                            연결
                        </button>
                    </div>
                </div>
            </div>
            <div class="key_grp_cont key_grp_cont04">
                <div class="ck_data_box">
                    <p class="room_txt dis_flex_row dis_flex_row_center dis_flex_row_end"><em class="ck_state">CHECK-IN</em><em id="idate" class="ck_txt">2022-08-03 PM 15:00</em></p>
                    <p class="room_txt dis_flex_row dis_flex_row_center dis_flex_row_end"><em class="ck_state">CHECK-OUT</em><em id="odate" class="ck_txt">2022-08-04 AM 11:00</em></p>
                </div>
            </div> 
        </div>
        <div class="key_body">
            <div class="password_set_box">
                <a class="password_set_btn">
                    <h2 class="body_key_tit_sub">Set Room Password</h2>
                    <h2 class="body_key_tit">객실 비밀번호 설정</h2>
                    <span class="body_key_sub_icon password_icon"></span>
                </a>
            </div>
            <div class="body_key_btn_grp">
                <div class="body_key_box body_key_box01">
                    <div class="bg_cont_box">
                        <h2 class="body_key_tit_sub">Room Control</h2>
                        <h2 class="body_key_tit">객실 제어</h2>
                        <span class="body_key_sub_icon body_key_sub_icon01"></span>
                    </div>
                </div>
                <div class="body_key_box body_key_box02">
                    <div class="bg_cont_box">
                        <h2 class="body_key_tit_sub">Smart Order</h2>
                        <h2 class="body_key_tit">스마트 오더</h2>
                        <span class="body_key_sub_icon body_key_sub_icon02"></span>
                    </div>
                </div>
            </div>
            <div class="body_key_btn_grp">
                <div class="body_key_box body_key_box01">
                    <div class="bg_cont_box">
                        <h2 class="body_key_tit_sub">Hotel News</h2>
                        <h2 class="body_key_tit">호텔 소식</h2>
                        <span class="body_key_sub_icon body_key_sub_icon03"></span>
                    </div>
                </div>
                <div class="body_key_box body_key_box02">
                    <div class="bg_cont_box">
                        <h2 class="body_key_tit_sub">Access List</h2>
                        <h2 class="body_key_tit">출입 내역</h2>
                        <span class="body_key_sub_icon body_key_sub_icon04"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="pri_warp" style="display: none;" class="popup_wrap">
            <div class="popup_box popup_box_ver02">
                <div class="popup_tbox">
                    <h2 class="popup_tit dis_flex_row dis_flex_row_center"><span class="warning_icon"></span>사용 안내</h2>
                    <p class="popup_txt">스마트폰키를 사용하기 전 유의사항을 꼭 숙지하신 후 사용하세요.</p>
                    <div class="popup_info_box">
                        <div class="popup_info_tbox popup_info_tbox01">
                            <span class="popup_info_state">1</span>
                            <h2 class="popup_info_tit">스마트폰키 보호를 위해 비밀번호 노출을 최대한 삼가해 주세요.</h2>
                        </div>
                        <div class="popup_info_tbox popup_info_tbox02">
                            <span class="popup_info_state">2</span>
                            <h2 class="popup_info_tit">해당 비밀번호나 스마트폰키가 무단으로 사용되고 있는 경우 즉시 비밀번호를 변경해주세요.</h2>
                        </div>
                        <div class="popup_info_tbox popup_info_tbox03">
                            <span class="popup_info_state">3</span>
                            <h2 class="popup_info_tit">해당 스마트폰키 또는 비밀번호 키로 이루어지는 활동에 대한 책임은 당사자(사용자)에게 있다는 점을 유의해주세요.</h2>
                        </div>
                    </div>
                    <div class="check_box dis_flex_row dis_flex_row_center">
                        <div class="check_box_btn">
                            <input type="checkbox" class="ck nohidden" id="pri_check">
                            <label class="ck_btn" for="pri_check"></label>
                        </div>
                        <label class="ck_tit" for="pri_check">동의 후 사용합니다.</label>
                    </div>
                </div>
                <ul class="popup_bottom_box">
                    <li class="popup_bottom_btnbox">
                        <a id="pri_confirm" class="popup_bottom_btn popup_bottom_btn_save">확인</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</body>
</html>